<div id="inbox_complaints_div">
  <h3>Complaints</h3>
  <hr/>

  <div><strong>Complaints for Files</strong></div>
  <br>

  {{#each data.owner_complaints}}
    <div>
      <div>Subject: {{subject}}</div>
      <div>By: {{complainer}}</div>
      <div>For: {{file_name}}</div>
      <div>Submitted On: {{timestamp}}</div>
      <div>{{complaint_text}}</div>
    </div>
    <form action="{{../data.base_url}}/resolve_complaint" method="post">
      <button>Resolved</button>
    </form>
    <br>
  {{/each}}

  {{#if data.super_user}}
    <hr/>
    <div><strong>Complaints for Super Users</strong></div>

    {{#each data.su_complaints}}
    {{else}}
      <div>No complaints for super users</div>
    {{/each}}

  {{/if}}
</div>
