<div id="files_table">
  <div id="heading">
    <h1>{{data.username}}'s Files</h1>
    {{#if data.canCreateNewFile}}
      <form action="/create_new_file" method="post">
        <input type="submit" value="+ Create New File">
      </form>
    {{/if}}
  </div>
  <div id="file_search">
    <form action="/files/{{data.user_id}}/search" method="post">
      <input type="text" placeholder="Search Files" name="search_info">
      <input type="submit" value="Search">
    </form>
    <br/>
  </div>
  <table>
    <tr>
      <th>File Name</th>
      <th>Current Version</th>
      <th>Created On</th>
    </tr>
    {{#each data.rows}}
      <tr>
        <td><a href="/file/{{file_id}}">{{file_name}}</a></td>
        <td>{{current_version}}</td>
        <td>{{created_on}}</td>
      </tr>
    {{/each}}
  </table>
</div>
