<div id="heading">
  <h1>{{data.rows.name}}'s Profile Page</h1>
    {{#if data.isGuestUser}}
  <form action="submit_application" method="get">
    <input type="submit" value="Apply for Ordinary User">
  </form>
  {{/if}}
</div>

<div id="profile">
  <div id="sidebar">
    <img src="{{data.rows.picture_url}}" height="240" width="240"/>
    <div>{{data.rows.username}}</div>
    <div>{{data.rows.email}}</div>
    <div>{{data.rows.bio}}</div>
  </div>

  <div id="main_info">
    <div id="recent_files">
      <h2>Recent Files</h2>
      <div>Coming Soon</div>
    </div>
    <div id="interests">
      <h2>Interests</h2>
      <div>Coming Soon</div>
    </div>
  </div>
</div>
